section.gym-finder {
  div.nav {
    background-color: orange;
    display: flex;
    align-items: center;
    height: 34px;
    
    div {
      margin: auto;
      width: 900px;
      display: flex;
      justify-content: center;

      span {
        color: white;
        font-family: Bebas Neue;
        font-size: 24px;
      }
    }
  }
}