@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.login-form-container {
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  span.login-text {
    display: block;
    text-align: center;
    padding: 20px 0px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 0 100px;

    input {
      height: 30px;
      width: 293px;
      margin: 0;
      padding: 0 0 0 5px;
      font-family: Montserrat;
      border-radius: 3px;
      border: 1px solid #000000;
    }

    .login {
      font-family: Montserrat;
      font-size: 16px;
      height: 30px;
      width: 300px;
      border-radius: 3px;
      margin: 0;
      border: 1px solid #000000;
    }

    .error-border {
      border: 1px solid rgb(252, 13, 27)
    }
  }

  .login-here {
    margin: 5px 100px 0px;
    padding-bottom: 20px;

    span.btn {
      color: blue;
    }
    
    span.btn:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .demo-user {
    align-self: center;
    border: 1px solid #000000;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 16px;
    height: 30px;
    width: 300px;
    border-radius: 3px;
  }
}

.demo-user {
  margin-top: 21px;
}

.signup-errors {
  height: 15px;
  padding: 3px 0px;
  font-family: Montserrat;
  font-size: 13px;
  color: #BE4B49;
}

.hidden {
    visibility:hidden
}