@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

section.profile {

  div.profile-nav {
    background-color: grey;
    display: flex;
    align-items: center;
    height: 34px;
    
    div {
      margin: auto;
      width: 900px;
      display: flex;
      justify-content: center;

      span {
        color: white;
        font-family: Bebas Neue;
        font-size: 24px;
      }
    }
  }

  section.main {
    font-family: Bebas Neue;
    background-color: rgb(240, 242, 245);

    div.row-1-container {
      width: 100%;
      height: 300px; 

      div.row-1 {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 898px;
        height: 300px;
        border-left: 1px solid rgb(206, 208, 212);
        border-right: 1px solid rgb(206, 208, 212);
        background-color: #FFFFFF;
        
        div.left {
          display: flex;
          margin: 10px 20px;
          height: 300px;
          width: 500px;
          // border-right: 1px solid black;
  
          div.left-left {
            width: 200px;
            
            div.pfp {
              // background-image: currentUser's pfp;
              height: 200px;
              margin: 20px;
              width: 160px;
              border: 1px solid rgb(206, 208, 212);
            }
    
            div {
              display: flex;
              justify-content: center;
              span {
                color: #000;
                // font-family: Bebas Neue;
                font-size: 20px;
              }
            }
          }

          div.left-right {
            height: 300px;
            width: 350px;

            div {
              margin: 40px;

              span {
                line-height: 1.5;
                font-size: 20px;
                display: block;
              }
            }
          }
  
        }
  
        div.right {
          display: flex;
          justify-content: center;
          border-left: 1px solid rgb(206, 208, 212);
          height: 260px;
          width: 400px;
          margin: 20px;

          span {
            display: block;
            font-size: 24px;
          }
        }
      }
    }

    div.update-container {
      height: 200px;
      width: 100%;

      div.update {
        border: 1px solid rgb(206, 208, 212);
        border-top: 2px solid rgb(206, 208, 212);
        display: flex;
        height: 100%;
        margin: auto;
        width: 898px;
        background-color: #FFFFFF;

        div.update-weight-container {
          border-right: 1px solid rgb(206, 208, 212);
        }

        div.update-weight-container {
          width: 50%;
          height: 84%;
          margin-top: 10px;

          div.update-weight {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            span.text {
              font-size: 24px;
              margin-bottom: 5px;
              margin-top: 10px;
            }

            form {
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 18px;
              
              .weight-wrapper {
                margin: 7px 0px;

                label.weight {
                  margin-right: 5px;
                }
                input {
                  padding-left: 5px;
                }
              }

              div.weight-date {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 7px 0px;
                width: 195px;

                .weight-text {
                  margin-right: 5px;
                }
              }

              .track-weight-btn {
                margin: 7px 0px;
              }
            }
          }
        }

        div.upload-photos-container {
          width: 50%;
          height: 84%;
          margin-top: 10px;

          div.upload-photos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;

            span {
              font-size: 24px;
            }

            label.upload-btn:hover {
              cursor: pointer;
            }

            label.upload-btn {
              background-color: #efefef;
              border: 1px solid rgb(206, 208, 212);
              border-radius: 8px;
              margin: 20px;
              height: 50px;
              width: 50px;

              .upload-btn {
                font-size: 28px;
                position: relative;
                top: 10px;
                left: 12px;
              }

              input#file {
                display: none;
              }
            }
          }
        }
      }
    }

    div.progress-tracker-container {
      height: 500px;
      width: 100%;

      div.progress-tracker {
        height: 100%;
        margin: auto;
        width: 900px;
              background-color: #FFFFFF;
        
        div.banner {
          background-color: #A4303F;
          border-left: 1px solid #A4303F;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;

          span {
            color: white;
            font-family: Bebas Neue;
            font-size: 24px;
            cursor: pointer;
          }
        }
      }

      div.chart-container {
        border-left: 1px solid rgb(206, 208, 212);
        border-right: 1px solid rgb(206, 208, 212);
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;

        .weight-chart {
          // margin: auto;
          padding-top: 40px;
        }
        
        .nchart-error-wrapper {
          display: flex;
          justify-content: center;
          
          .nchart-error {
            font-size: 34px;
            text-align: center;
          }
        }
      }
    }

  }
}