@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

div.signup-form-container {
  // height: 480px;
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 10px;

  span.signup {
    display: block;
    text-align: center;
    padding: 20px 0px;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
  }
  form {

    div.signup-form {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 0 100px;

      input {
        height: 30px;
        width: 293px;
        margin: 0;
        padding: 0 0 0 5px;
        font-family: Montserrat;
        border-radius: 3px;
        border: 1px solid #000000;
      }

      .signup-r1 {
        display: flex;

        .signup-names {
          width: 138px;
          padding-left: 5px;
          margin-right: 10px;
        }        
      }

      .error-border {
        border: 1px solid rgb(252, 13, 27)
      }

      div.gender {
        font-family: Montserrat;
        font-size: 20px;
        margin: 0px;
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;


        .gender-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 270px;

          label {
            display: flex;
            align-items: center;
            margin-right: 10px;
            margin-left: 5px;
          }

          input {
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
          }
        }
      }

      div.dob {
        font-family: Montserrat;
        font-size: 16px;
        margin: 0 0 15px 0;
        display: flex;
        flex-direction: column;

        .dob-text {
          margin-bottom: 3px;
        }
        .dob-r2 {
          display: flex;
          flex-direction: row;

          select {
          height: 30px;
          width: 70px;
          }
        }
      }
    }

    button.signup {
      font-family: Montserrat;
      font-size: 16px;
      margin: 0 100px;
      height: 30px;
      width: 300px;
    }
  }

  div.signup-here {
    margin: 5px 100px 0px;
    padding-bottom: 20px;

    span.btn {
      color: blue;
    }
    
    span.btn:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

input:focus {
  outline: 0;
}

.signup-errors {
  height: 15px;
  padding: 3px 0px;
  font-family: Montserrat;
  font-size: 13px;
  color: #BE4B49;
}

.hidden {
    visibility:hidden
}