@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

section.splash {

  div.splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;

    span {
      font-family: Bebas Neue;
      font-size: 40px;
      padding: 0 0 0 60px;
      cursor: pointer;
    }

    div.center {
      display: flex;
      flex-direction: row;

      div.border {
        height: 36px;
        border-left: 1px solid darkgrey;
        margin: 0px 20px;
      }

      span {
        cursor: pointer;
        font-size: 30px;
        padding: 0;
      }

      span:first-child {
        border: none;
      }

      span:hover {
        border-bottom: 3px solid #A4303F;
      }
    }

    div.btns {
      display: flex;
      flex-direction: row;
      padding: 0 60px 0 0;

      button {
        background-color: #A4303F;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        color: white;
        height: 40px;
        margin-left: 10px;

        span.btn-text {
          font-family: Bebas Neue;
          font-size: 22px;
          padding: 4px 10px 4px 16px;
        }

        .fa-user {
          font-size: 16px; 
          position: relative;
          bottom: 1px;
          left: 8px;
        }
      }
    }
  }

  section.splash-main {
    
    div.row-1 {
      background-image: url("../images/conquer.png");
      height: 700px;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;

      span {
        display: block;
      }
    }
  }
}


button:hover {
  cursor: pointer;
}
button:focus {
  outline: 0;
}