@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

section.splash {

  div.splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;

    span {
      font-family: Bebas Neue;
      font-size: 40px;
      padding: 0 0 0 60px;
      cursor: pointer;
    }

    span.link {
      color: black;
    }

    div.center {
      display: flex;
      flex-direction: row;

      div.border {
        height: 36px;
        border-left: 1px solid darkgrey;
        margin: 0px 20px;
      }

      span {
        cursor: pointer;
        font-size: 30px;
        padding: 0;
      }

      span:first-child {
        border: none;
      }

      span:hover {
        border-bottom: 3px solid #A4303F;
      }
    }

    div.btns {
      display: flex;
      flex-direction: row;
      padding: 0 60px 0 0;
      display: flex;
      align-items: center;

      .login-btn {
        background-color: #2E3138;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 0px 10px;

        span.MuiButton-label {
          padding: 0;
        }

        span.btn-text {
          font-family: Bebas Neue;
          font-size: 18px;
          padding: 5px 0px;
          margin-left: 7px;
          position: relative;
          top: 1px;
        }

        .fa-user {
          font-size: 16px; 
        }
      }

      .logout-btn {
        background-color: #2E3138;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        color: white;
        padding: 0px 10px;
        margin-left: 10px;

        span.MuiButton-label {
          padding: 0;
        }


        span.btn-text {
          font-family: Bebas Neue;
          font-size: 18px;
          padding: 5px 0px;
          position: relative;
          top: 1px;
        }
      }

      .profile-wrapper {
        color: #000000;
        display: flex;
        flex-direction: row;
        align-items: center;

        .nav-bar-profile-icon {
          font-size: 20px;
          margin-right: 5px;
          cursor: pointer;
        }

        .nav-name {
          font-family: Bebas Neue;
          font-size: 20px;
          padding: 0px 5px 0px 3px;
        } 
      }
    }
  }

  section.splash-main {
    
    div.row-1 {
      background-image: url("../images/conquer.png");
      height: 700px;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;

      span {
        display: block;
      }
    }
  }
}


button:hover {
  cursor: pointer;
}
button:focus {
  outline: 0;
}